.jumbotron {
	background-color: rgb(20, 20, 31);
}

.display-3 {
	color: rgb(153, 0, 0);
	font-family: 'Anton';
}

.card-img-top {
	clip: rect(0px, 50px, 10px, 0px);	
}
body {
	background-color: rgb(20, 20, 31);
}
.card-body {
	background-color: rgb(191, 191, 191);
}

a {
	text-align: center;
	color: rgb(180, 0, 0);
	size: 200px;
}