/* title of the index page */

}

button {
  font-family: Anton;
  color: green;
  background: radial-gradient (circle, yellow);

}


body {
  font-family: helvetica, sans-serif;
  background: white;

}
div {

}


.navbar {
  margin-bottom: 0;

}

.jumbotron {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.display-3
{
  font-family: 'Sumana';
  font-size: 60px;
 color: red;
 position: relative;
 text-align: center;
}


.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;