/* title of the index page*/

body {
    font-family: helvetica, sans-serif;
    background-color: rgba(20, 20, 31, 1);
}
.navbar {
    margin-bottom: 0;
    background: rgba(20, 20, 31, 1);
}
.display-3 {
    font-family: 'Sumana';
    font-size: 60px;
    color: red;
    position: relative;
    text-align: center;
}
.jumbotron-heading {
    font-weight: 300;
}
.jumbotron .container {
    max-width: 40rem;
    background: rgba(20, 20, 31, 1);
}
.card {
    width: 33%;
    min-height: 250px;
    overflow: hidden;
    position: relative;
    background: rgba(20, 20, 31, 1);
    border-color: red;
}
#hovereffect {
    width: 100%;
    position: absolute;
}
#hovereffect img {
    position: absolute;
    left: 0;
    width: 100%;
    min-height: 250px;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}
#hovereffect img.top:hover {
    opacity: 0;
}